@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-100 bg-background-dark selection:bg-primary-indigo/30;
    background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, #121212 50%);
    min-height: 100dvh;
  }

  /* Custom scrollbar for webkit */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 rounded-full;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}